$primary-color: #fbfbfb;
$deep-blue: #213F7D;
$deep-blue-light: #21407d1A;
$dull-blue: #545F7D;
$sky-blue: #39CDCC;
$danger: #E4033B;
$danger-light: #e4033b1A;
$green: #39CD62;
$green-light: #39CD621A;
$yellow: #E9B200;
$yellow-light: #e9b3001A;