@mixin flex-layout($type, $alignment: center) {
  display: flex;
  align-items: $alignment;

  @if $type == "flex-center" {
    justify-content: center;
  } @else if $type == "flex-btw" {
    justify-content: space-between;
  } @else if $type == "flex-it" {
    // intentionally left blank
  } @else {
    @error "#{$type} is not valid";
  }
}
