@use "color";
@use "fonts";
@use "./responsive-mixin" as *;
@use "./layout" as *;

.header {
  height: 80px;
  // border: solid 2px;
  padding: 10px 16px;
  @include flex-layout("flex-btw");

  @include respond-to(md) {
    height: 100px;
    padding: 35px 30px;
  }
}

.header__container {
  // border: solid 2px;
  width: 100%;
  @include flex-layout("flex-btw");
}

.header__control {
  @include flex-layout("flex-btw");
  gap: 10px;
}

.menu__btn {
  background-color: transparent;
  width: 16px;
  height: 16px;
  // border: solid 2px;

  .menu__btn-icon {
    width: 100%;
    height: 100%;
  }

  @include respond-to(md) {
    display: none;
  }
}

.header__logo {
  // border: solid 2px;
  width: 90px;
  margin-left: 2px;
  @include flex-layout("flex-btw");

  .header__logo-img {
    width: 100%;
  }

  @include respond-to(md) {
    width: 144px;
  }
}

.searchbar {
  display: none;

  @include respond-to(md) {
    @include flex-layout("flex-center");
    width: 400px;
    height: 40px;
    background-color: white;
    // border: solid 2px red;

    .searchbar__input {
      height: 100%;
      // width: 100%;
      flex: 1;
      padding: 0 16px;
      background-color: transparent;
      border: solid 2px color.$deep-blue;
      border-radius: 8px 0 0 8px;
      outline: none;
      font-size: 14px;
      font-family: fonts.$work-sans;
      color: color.$deep-blue;
    }

    .searchbar__btn {
      width: 56px;
      height: 100%;
      background-color: color.$sky-blue;
      border-radius: 0 8px 8px 0;
      @include flex-layout("flex-center");
    }
  }
}

.header__right {
  @include flex-layout("flex-btw");
  // border: solid 2px;
  column-gap: 14px;

  @include respond-to(md) {
    column-gap: 20px;
  }
}

.header__link {
  font-size: 14px;
  color: color.$deep-blue;
  font-family: fonts.$roboto;
  @include respond-to(md) {
    font-size: 16px;
  }
}

.header__notification-btn {
  width: 16px;
  height: 16px;
  background-color: transparent;

  .header__notification-icon {
    width: 100%;
    height: 100%;
  }

  @include respond-to(md) {
    width: 26px;
    height: 26px;
  }
}

.header__profile {
  @include flex-layout("flex-btw");
  gap: 5px;

  .header__avatar {
    width: 40px;
    height: 40px;

    .header__avatar-img {
      width: 100%;
    }
  }

  .header__user-info {
    @include flex-layout("flex-btw");
    // margin-left: 2px;

    .header__username {
      display: none;
      color: color.$deep-blue;
      font-family: fonts.$work-sans;
      font-weight: 500;
    }

    .header__dropdown-btn {
      background-color: transparent;
      padding: 4px;
      @include flex-layout("flex-btw");
    }
  }

  @include respond-to(md) {
    .header__avatar {
      width: 48px;
      height: 48px;
    }

    .header__user-info {
      @include flex-layout("flex-btw");
      column-gap: 4px;

      .header__username {
        display: block;
      }
    }
  }
}

// SIDEBAR
.header__sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.header__sidebar-nav {
  // border: 2px solid;
   margin-top: 20px;
}

.header__nav-title {
  color: color.$deep-blue;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: fonts.$work-sans;
}

.header__nav-ul {
  // border: solid 2px red;
  list-style: none;
}

.header__link-container {
  // border: solid 2px;
  font-size: 12px;
  column-gap: 10px;

  @include flex-layout("flex-it");

  &:hover {
    background-color: rgba(0, 204, 255, 0.24);
    border-left: 5px solid color.$sky-blue;
  }
}

.header__ul-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  color: color.$dull-blue;
  font-family: fonts.$work-sans;

  img {
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }

  &.active {
    background-color: color.$sky-blue;
  }
}
