@use "color";
@use "fonts";
@use "./layout" as *;
@use "./responsive-mixin" as *;

.login {
  min-height: 100vh;
  background: #fff;

  @include respond-to(md) {
    display: flex;
  }
}

.login__image-section {
  // border: solid 2px;

  @include respond-to(md) {
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    // border: 2px solid red;
    position: relative;
  }
}

.login__logo-wrapper {
  padding: 10px;
  height: 72px;
  display: flex;
  align-items: center;
  // border: solid 2px red;
}

.login__logo {
  width: 120px;
  // border: solid 2px;

  .login__logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  @include respond-to(md) {
    position: absolute;
    top: 12%;
    left: 7%;
    width: 173px;
  }
}

.login__img-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  @include respond-to(md) {
    // border: solid 2px;
    height: calc(100% - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 337px;
    }
  }
}

.login__form-section {
  // min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  // box-shadow: 0 -5px 5px #545F7D26;
  margin-top: 24px;

  .login__content {
    width: 100%;
  }

  @include respond-to(md) {
    margin-top: 0;
    flex: 1;
    box-shadow: 0 -5px 5px #545f7d26;
    padding: 0 6.8rem 0 3.3rem;
    // background-color: red;
  }

  @include respond-to(lg) {
    padding: 0 157px 0 100px;
  }
}

.login__title {
  color: color.$deep-blue;
  font-weight: bold;
  font-size: 28px;
  font-family: fonts.$avenir-bold;
  // font-size: 40px;
}

.login__subtitle {
  color: color.$dull-blue;
  margin-top: 10px;
  font-size: 15px;
  font-family: fonts.$avenir-regular;
}

.login__form {
  margin-top: 20px;
}

.login__input-group {
}

.login__input-wrapper {
  border: 2px solid #545f7d26;
  border-radius: 5px;
  background: #fff;
  display: flex;
  // height: 50px;
  height: 44px;

  &.login__input-wrapper--spaced {
    margin-top: 20px;
  }

  input {
    height: 100%;
    padding: 0px 16px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-family: fonts.$avenir-regular;
    font-size: 14px;
    color: color.$deep-blue;
  }

  .login__toggle-password {
    flex: 1;
    padding: 15px;
    color: color.$sky-blue;
    text-transform: uppercase;
    font-weight: 600;
    $font-family: fonts.$avenir-medium;
    border: none;
    background-color: transparent;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include respond-to(md) {
    height: 50px;
  }
}

.login__forgot-password {
  display: block;
  margin-top: 24px;
  margin-bottom: 30px;
  text-decoration: none;
  color: color.$sky-blue;
  font-size: 12px;
  font-family: fonts.$avenir-medium;
  text-transform: uppercase;
}

.login__btn {
  height: 40px;
  width: 100%;
  background-color: color.$sky-blue;
  border-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
  font-family: fonts.$avenir-medium
}
